<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email:</label>
        <br>
        <input type="text" name="email">
        <br>
        <label>Contraseña:</label>
        <br>
        <input type="password" name="password" autocomplete="current-password">
        <br>
        <button type="submit">Ingresar</button>
    </form>
    <p>No estas registrado? <a href="/register">Registrate aqui.</a> </p>
</div>

<script src="/js/login.js"></script>