<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input type="text" name="email">
        <br>
        <label>Contraseña</label>
        <input type="password" name="password" autocomplete="current-password">
        <br>
        <input type="submit">
    </form>
    <p>Si no estas registrado:</p><a href="/register">Registrate aqui</a>
</div>

<script src="/js/login.js"></script>