<div>
    <h1>Tu perfil (sin datos sensibles):</h1>
    <p>Nombre completo: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
    <form action="/api/sessions/logout" method="get">
		<button>Salir</button>
	</form>
</div>