<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>Nombre completo {{user.name}}</p>
    <p>email {{user.email}}</p>
    <p>Edad {{user.age}}</p>
    <p>Edad {{user.rol}}</p>
    <form action="/api/sessions/logout" method="get">
		<button>Salir</button>
	</form>
</div>